html {
  color: #000;
  background: #FFF;
}

html, body, article, section, nav, aside, h1, h2, h3, h4, h5, h6, header, footer, address, p, ol, ul, li, dl, dt, dd, div, a, strong, small, sup, span, img, iframe, embed, object, video, audio, table, tr, td, th, canvas, svg {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
}

legend {
  color: #000;
}

#yui3-css-stamp.cssreset {
  display: none;
}

input,
select,
textarea,
button {
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}